*{
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: cursive, sans-serif;
  font-size: larger;
  background-image: url("contents/wall.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

form {
  background: #ffffff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 400px;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form input[type="password"],
form input[type="confirmpassword"],
form select {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type="submit"] {
    width: 100%;
    background-color: #ccbe61;
    color: white;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #ccbe61;
}

header {
  background-color: rgba(red, green, blue, alpha);
  color: #141313;
  padding: 8px;
  text-align: center;
  margin: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
}

#back {
  margin-bottom: 0;
}

#welcome {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(0, 0, 0);
  font-style: oblique;
  font-weight: lighter;
  padding-top: 30px;
}

footer {
  background-color: rgba(red, green, blue, alpha);
  color: #fff;
  padding: 8px;
  text-align: center;
  margin: 10px;
  margin-top: 350px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}
